.discover {
  .mui-slider{
    ul{
      margin: 0;
      padding: 0;
      position: relative;
      width: 100%;
      height: 100%;
    }
    li{
      position: absolute !important;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      text-align: center;
    }
  }
  .mui-bar {
    background-color: #1895ed;
    box-shadow: none;
  }
  h4 span:before {
    color: #ffbb02;
  }
  .bgc-gray{
    background-color: #f5f5f5;
  }
  .mui-title {
    color: #fff;
  }
  .zsq{
    border-bottom: 10px solid #f5f5f5;
  }
  .mui-media-body {
    white-space: normal;
    max-height: 88px;
    padding-left: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}