body, .mui-content {
  background-color: #fff;
}

.mui-icon, .mui-icon-extra {
  font-size: 22px;
}

h4, .mui-h4 {
  font-size: 16px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  &.between {
    justify-content: space-between;
  }
  &.around {
    justify-content: space-around;
  }
  &.center {
    justify-content: center;
  }
  &.vcenter {
    align-items: center;
  }
  &.stretch {
    align-items: stretch;
  }
}
.c-loading {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  left: 0;
  top: 0;
  z-index: 999;
  font-size: 14px;
  font-weight: bold;
  opacity: 0;
  transition: all .3s ease-out;
  transform: translate3d(0,-10px,0);
  &.show{
    opacity: 1;
    transform: translate3d(0,0,0);
  }
  [class*=icon] {
    background-color: #000;
    border-radius: 50%;
    color: #fff;
  }
  .mui-icon-info {
    background-color: #f19b00;
  }
  .mui-icon-checkmarkempty{
    background-color: #178e15;
  }
}
.c-loading-cnt {
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
  h3{
    font-size: inherit;
    width: calc(100% + 20px);
    margin:0 0 0 -10px;
    border-top: 1px solid #ccc;
    a{
      flex: 1;
      padding: 10px 0;
    }
  }
  &.confirm{
    padding-bottom:0;
    min-width: 50vw;
    div{
      padding: 6px 0;
    }
  }
  .c-ok{
    background-color: #007aff;
    color: #fff;
  }
}