.luckyWheel {
  height: 100vh;
  overflow: hidden;
  .mui-bar{
    background-color: #1895ed;
  }
  .mui-title,.mui-bar a{
    color: #fff;
  }
  .mui-content {
    background: url("../assets/images/9.jpg") no-repeat left top;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    height: calc(100vh - 30px);
    margin-top: 30px;
    padding-top: 31vw;
  }
  .wheel-outer {
    width: 75vw;
    height: 75vw;
    margin: 0 auto;
    background: url("../assets/images/12.png") no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    position: relative;
  }
  .lights {
    width: 100%;
    height: 100%;
    background: url("../assets/images/11.png") no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    position: relative;
    color: #fff;
    font-size: 12px;
    transition: transform 3s ease-in-out;
    .item {
      position: absolute;
      left: 0;
      top: 0;
      white-space: nowrap;
      text-align: center;
      transform-origin: left center;
      &:nth-child(2n+1) {
        color: #f83d62;
      }
    }
  }
  .count{
    text-align: center;
    position: relative;
    color: #faf6e5;
    margin-top: 10px;
    span{
      color: #fff700;
    }
    a{
      position: absolute;
      right: 20px;
      text-decoration: underline;
      color: #dddcdc;
    }
  }
  aside {
    position: absolute;
    width: 40%;
    height: 40%;
    background: url("../assets/images/10.png") no-repeat center center;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    left: 50%;
    top: 50%;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f00a38;
    font-size: 16px;
    font-weight: bold;
  }
  .disabled {
    pointer-events: none;
  }
  .popup {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    transition: opacity .8s ease-out;
    display: none;
  }
  .popup-in {
    display: flex;
  }
  .popup-inner {
    background-color: #118eea;
    width: 90%;
    color: #fff;
    .mui-icon {
      font-size: 36px;
    }
    img {
      padding-right: 10px;
    }
    h3 {
      font-size: 18px;
    }
    h4 {
      line-height: 2.5;
    }
    h5 {
      text-align: center;
      padding: 14px 0;
    }
    a {
      padding: 10px 40px;
      border-radius: 30px;
      background-color: #fac630;
      color: #a05905;
    }
  }
  .win-list{
    width: 88%;
    margin: 0 auto;
    background-color: #fff;
    padding: 10px;
    border-radius: 6px;
    >div{
      overflow: hidden;
      height: 30vw;
    }
    .mui-icon-extra{
      font-size: 16px;
      vertical-align: middle;
    }
    h4{
      font-size: 14px;
      color: #f00a38;
      position: relative;
      z-index: 10;
      background-color: #fff;
    }
  }
  @keyframes marquee {
    from{
      transform: translate3d(0,0,0);
    }
    to{
      transform: translate3d(0,-50%,0);
    }
  }
  ul{
    margin: 0;
    list-style: none;
    padding:0 0 0 10px;
    word-break: break-all;
    font-size: 12px;
    white-space: nowrap;
    animation: marquee 10s linear infinite;
  }
  li{
    overflow: hidden;
    text-overflow: ellipsis;
  }
}